<font size = "5">**LAB 3 PART 1**</font>

<font size = "4}">**QUESTION1**</font>

(a) Construct a catalog of books, with each book having an author's name, book title, ISBN number, publication year, and number of pages.

(b) Add a new book to the catalog, ensuring that the books are kept in ascending order based on the publication year.

(c) Locate a book by its ISBN number and delete the book's entry from the catalog.

(d) Insert a new book entry at the end of the catalog using the provided book information.

(e) Identify and remove any duplicate entries in the catalog, preserving only one copy of each book based on its ISBN number.

(f) Reorganize the entire catalog so that the books are sorted in descending order by the number of pages.

In [9]:
#(a)
def publication_year(book):
    return book[3]

books = [("Arvind","The 2nd epic book",223456,2005,101),("Arvind","The 2nd epic book",223456,2005,101),("Lakshman","The 3rd epic book",333456,2006,102),("Rama","The epic book",123456,2004,100)]
books.sort(reverse=False,key = publication_year)
print("Current catalog: ",books)

Current catalog:  [('Rama', 'The epic book', 123456, 2004, 100), ('Arvind', 'The 2nd epic book', 223456, 2005, 101), ('Arvind', 'The 2nd epic book', 223456, 2005, 101), ('Lakshman', 'The 3rd epic book', 333456, 2006, 102)]

In [10]:
#(b)
new_book = ("Vijay","The 4th book",444456,2007,104)
books.append(new_book) #To add new book
books.sort(reverse = False,key = publication_year) #To keep in sorted order
print("Added one new book to catalog: ",books)

Added one new book to catalog:  [('Rama', 'The epic book', 123456, 2004, 100), ('Arvind', 'The 2nd epic book', 223456, 2005, 101), ('Arvind', 'The 2nd epic book', 223456, 2005, 101), ('Lakshman', 'The 3rd epic book', 333456, 2006, 102), ('Vijay', 'The 4th book', 444456, 2007, 104)]

In [11]:
#(c)
isbn = 333456 #isbn to locate and delete
removed_isbn_books = [book for book in books if book[2] != isbn] 
books = removed_isbn_books
print("Removed books of isbn number",isbn,". The current books:\n",books)

#ALTERNATIVE SOLUTION BY USING for loop and do del books[i] when the required isbn is found

Removed books of isbn number 333456 . The current books:
 [('Rama', 'The epic book', 123456, 2004, 100), ('Arvind', 'The 2nd epic book', 223456, 2005, 101), ('Arvind', 'The 2nd epic book', 223456, 2005, 101), ('Vijay', 'The 4th book', 444456, 2007, 104)]

In [12]:
#(d)Add new book after taking input
author,book_name,isbn,year,pages = input("Enter author,book name,isbn,year of publication,number of pages separated by COMMA only").split(',')
isbn = int(isbn)
year = int(year)
pages = int(pages)
books.append((author,book_name,isbn,year,pages))
print("Added new book after taking input from user:\n ",books)

Enter author,book name,isbn,year of publication,number of pages separated by COMMA onlyraadhes,thebook,2898789,2004,100
Added new book after taking input from user:
  [('Rama', 'The epic book', 123456, 2004, 100), ('Arvind', 'The 2nd epic book', 223456, 2005, 101), ('Arvind', 'The 2nd epic book', 223456, 2005, 101), ('Vijay', 'The 4th book', 444456, 2007, 104), ('raadhes', 'thebook', 2898789, 2004, 100)]

In [13]:
#(e)Removing duplicate entries by isbn

no_duplicate_books = []  #create new list which will store non duplicates by isbn
for book in books:
    no_dup = True        #flag telling if book is already in new list or not
    for x in no_duplicate_books:
        if(x[2] == book[2]):
            no_dup = False
    
    if(no_dup):
        no_duplicate_books.append(book)  #add to new list if not already there
        
books = no_duplicate_books #set original list to new list , in essence removing the duplicates
print("The book after removing any duplicates are:\n",books)

The book after removing any duplicates are:
 [('Rama', 'The epic book', 123456, 2004, 100), ('Arvind', 'The 2nd epic book', 223456, 2005, 101), ('Vijay', 'The 4th book', 444456, 2007, 104), ('raadhes', 'thebook', 2898789, 2004, 100)]

In [14]:
#(f) Sort in descending by number of pages
def num_pages(book):
    return book[-1]
books.sort(reverse = True,key = num_pages)
#We use sort function for lists with key argument 
#we are passing function which returns the number of pages of a book
print("Catalog sorted by number of pages:\n",books)

Catalog sorted by number of pages:
 [('Vijay', 'The 4th book', 444456, 2007, 104), ('Arvind', 'The 2nd epic book', 223456, 2005, 101), ('Rama', 'The epic book', 123456, 2004, 100), ('raadhes', 'thebook', 2898789, 2004, 100)]

<font size = 4>**QUESTION 2**</font>

a) To add the corresponding elements of two lists and print the new list.

b) To perform element wise multiplication of two lists and print the new list.

c) To create a list of the unique characters of a given string.

In [29]:
#(a)
list1 = [1,2,3,4,5,6]
list2 = [7,8,9,10,11,12]
length = 6
new_list = [list1[i]+list2[i] for i in range(length)]
print("List which is element wise sum of 2 lists:\n",new_list)

List which is element wise sum of 2 lists:
 [8, 10, 12, 14, 16, 18]

In [30]:
#(b)
list1 = [1,2,3,4,5,6]
list2 = [7,8,9,10,11,12]
length = 6
new_list = [list1[i]*list2[i] for i in range(length)]
print("List which is element wise product of 2 lists:\n",new_list)

List which is element wise product of 2 lists:
 [7, 16, 27, 40, 55, 72]

In [15]:
strin = input("Please input a string of one word")
strin.replace(" ","")

char_list = []
[char_list.append(x) for x in strin if(x not in char_list)]
print("The unique characters as list are:\n",char_list)

Please input a string of one wordjbjfkjdsbf
The unique characters as list are:
 ['j', 'b', 'f', 'k', 'd', 's']

<font size = 4>**QUESTION3**</font>

a) To add the elements of 2 matrices (Define matrices as per your wish).

b) To perform element wise multiplication on 2 matrices.

In [16]:
#(a)
matrice1 = [[1,2,3],[4,5,6],[7,8,9]]
matrice2 = [[1,2,3],[4,5,6],[7,8,9]]
matrice_add = []

for row in zip(matrice1,matrice2):
    temp_row = []
    for pair in zip(row[0],row[1]):
        temp_row += [pair[0]+pair[1]]
    matrice_add += [temp_row]
print("element wise addition:\n",matrice_add)

element wise addition:
 [[2, 4, 6], [8, 10, 12], [14, 16, 18]]

In [17]:
#(b)
matrice1 = [[1,2,3],[4,5,6],[7,8,9]]
matrice2 = [[1,2,3],[4,5,6],[7,8,9]]
matrice_mult = []

for row in zip(matrice1,matrice2):
    temp_row = []
    for pair in zip(row[0],row[1]):
        temp_row += [pair[0]*pair[1]]
    matrice_mult += [temp_row]

print("element wise multiplication:\n",matrice_mult)

element wise multiplication:
 [[1, 4, 9], [16, 25, 36], [49, 64, 81]]

<font size = 4>**QUESTION 4**</font>

a) WAP to print the row sum, column sum and trace of the matrix 

b) WAP to print the transpose of the matrix.

c) WAP to check whether the given matrix is symmetric or not.

d) WAP to check whether the Identity matrix (I) is positive definite or not by using Quadratic form method (x^T*I*x > 0), where x is any non zero vector.

In [18]:
matrice = [[1,2,3],[4,5,6],[7,8,9]]
#(a)
row_sum_list = []
for row in matrice:
    tempsum = 0
    for ele in row:
        tempsum += ele
    row_sum_list.append(ele)

print("The row sums are:",row_sum_list)

The row sums are: [3, 6, 9]

In [19]:
matrice = [[1,2,3],[4,5,6],[7,8,9]]
n = len(matrice)
col_sum_list = []
for i in range(n):
    tempsum = 0
    for j in range(n):
        tempsum += matrice[j][i]
    col_sum_list.append(tempsum)

print("The column sum are:",col_sum_list)

The column sum are: [12, 15, 18]

In [2]:
matrice = [[1,2,3],[4,5,6],[7,8,9]]
n = len(matrice)
trace = 0
for i in range(n):
    trace += matrice[i][i]
    
print("The trace is:",trace)

The trace is: 15

In [4]:
#(b)
transpose = [list(col) for col in zip(*matrice)]
#This works as each row is passed a =s iterables to the zip function which generates tuples of each column elements which we make into rows in our transpose
print(transpose)

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

In [22]:
#(c)
matrice1 = [[1,2,3],[4,5,6],[7,8,9]]
matrice2 = [[1,2,3],[2,3,4],[3,4,5]]
def is_sym(matrice):
    check = False
    n = len(matrice)
    for i in range(n):
        for j in range(n):
            if(matrice[i][j] != matrice[j][i]):
                return False
    return True

print("matrice1 is symmetric? :",is_sym(matrice1))
print("matrice2 is symmetric? :",is_sym(matrice2))

matrice1 is symmetric? : False
matrice2 is symmetric? : True

In [40]:
#(d)
def is_positive(x):
    n = len(x) #x is any col vector
    identity = []
    identity = [[int(i==j) for j in range(n)]for i in range(n)]
    #Above we create identity matrice using list comprehensions
    product = []
    
    for j in range(n):
        tempsum = 0;
        for k in range(n):
            tempsum += x[k]*identity[k][j]
        product += [tempsum]
        
    sum = 0
    for i in range(n):
        sum += product[i]*x[i]
    return sum > 0
    
print(is_positive([1,2,-3,-10]))

True

In [23]:
#check for identity matrice creation which is in above question
identity = [[int(i==j) for j in range(5)]for i in range(5)]
print(identity)

[[1, 0, 0, 0, 0], [0, 1, 0, 0, 0], [0, 0, 1, 0, 0], [0, 0, 0, 1, 0], [0, 0, 0, 0, 1]]

<font size = 4>**QUESTION 5**</font>

List of Lists : WAP to remove sub lists from a given list of lists that contain an element outside a given range.

In [25]:
a,b = input("Give appropriate range: ").split()
a = int(a)
b = int(b)


list_o_lists = [[3], [1, 3, 2], [0, 1, 9, 3, 5, 7], [9, 10], [13, 14, 16, 17]]
new_list = []

for sub_list in list_o_lists: #iterate through the list of lists
    to_remove = False         #flag that tells us to remove the list or not
    for x in sub_list:        
        if(x < a or x > b): 
            to_remove = True  #flag set to true if the sub list is following condition to remove
    if(not to_remove):
        new_list.append(sub_list)  #append sub list to a new list 
        
list_o_lists = new_list       #set the original list = new list , in essence removing the required sub lists
print(list_o_lists)

Give appropriate range: 1 5
[[3], [1, 3, 2]]